POSTGRES_USER=postgres
POSTGRES_PASSWORD=secretpassword
POSTGRES_DB=lol_db

DATABASE_URL=postgres://postgres:secretpassword@db:5432/lol_db?sslmode=disable
SERVER_URL=0.0.0.0:3000
VITE_GAME_URL=0.0.0.0:80
JWT_SECRET=<your_jwt_secret_key>